<?xml version="1.0"?>
<!--
/**
* Copyright © Ihor Oleksiienko (https://github.com/torys877)
* See LICENSE for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <currency>
                <ETH>
                    <precision>5</precision>
                </ETH>
            </currency>
        </system>
        <payment>
            <ether_payment>
                <model>MetamaskEthPaymentFacade</model>
                <active>0</active>
                <title>Ether Payment</title>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>1</can_edit>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <test_mode>
                    <active>1</active>
                    <etherscan_url>https://ropsten.etherscan.io/tx</etherscan_url>
                    <etherscan_api_url>https://api-ropsten.etherscan.io/api</etherscan_api_url>
                    <network_version>3</network_version>
                </test_mode>
                <etherscan_url>https://etherscan.io/tx</etherscan_url>
                <etherscan_api_url>https://api.etherscan.io/api</etherscan_api_url>
                <network_version>1</network_version>
            </ether_payment>
        </payment>
    </default>
</config>
